@use 'common';

.loadingContainer {
  @extend .flex-center;
  min-height: 100vh;
}

.errorContainer {
  @extend .flex-center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

.errorMessage {
  color: red;
}

.reloadButton {
  @extend .button-md;
  @extend .button-primary;
}

.pageContainer {
  min-height: 100vh;
  background-color: #f9f9f9;
}
